.row{
 padding: 20px;
}
div{
    background-color: rgb(91, 219, 140);
    text-align: center;
    
}


@media (min-width:576px){
    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 405px;
    }
}
@media (max-width:575px){
    #perfil{
        position: absolute;
        width: 50%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        text-align: center;
        left: 28%;
        top: 380px;
    }
}
#nombre{
    font-weight: bold;
    margin-top: 20%;
}