<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil-fjc.png" class="img-fluid" id="perfil" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Fernandez Juan Carlos</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur 
                adipisicing elit. Expedita beatae aperiam
                 inventore? Labore tenetur voluptatibus 
                 voluptate perspiciatis reiciendis 
                 recusandae repellat quas alias! Ut, culpa 
                 architecto impedit assumenda minus dolores 
                 saepe!</p>
        </span>
    </div>
</div>
