<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html -->
        <circle-progress
        [percent]="11"
        [radius]="100"
        [title]="'HTML5'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress
        [percent]="11"
        [radius]="100"
        [title]="'CSS'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress
        [percent]="11"
        [radius]="100"
        [title]="'JS'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'GitHub'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'Inges'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <!-- You can now use it in app.component.html -->
        <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'Equipo'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
</div>
