<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1>-<h3>(año)</h3>
                <p>Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Labore molestias eaque, ex sint 
                    enim impedit ab ad velit praesentium. Debitis est sunt
                     in doloribus consequatur unde 
                     deleniti, eos totam? Mollitia?
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(año)</h3>
                <p>Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Labore molestias eaque, ex sint 
                    enim impedit ab ad velit praesentium. Debitis est sunt
                     in doloribus consequatur unde 
                     deleniti, eos totam? Mollitia?
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1>-<h3>(año)</h3>
                <p>Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Labore molestias eaque, ex sint 
                    enim impedit ab ad velit praesentium. Debitis est sunt
                     in doloribus consequatur unde 
                     deleniti, eos totam? Mollitia?
                </p>
            </li>
        </ul>
    </div>
</div>
