<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo.png" id="logoAP" alt="">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/fb.png" id="facebook" alt=""></a>
            <a href=""><img src="../../../assets/twtt.png" id="twitter" alt=""></a>
            <a href=""><img src="../../../assets/insta.png" id="instagram" alt=""></a>
            <a href=""><img src="../../../assets/tch.png" id="twitch" alt=""></a>
            <button type="button" class="btn btn-primary">INGRESO</button>
        </div>
    </div>
</div>

